:root {
  --main-bg-color: #00ad6e;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde; }

* a {
  text-decoration: none; }

.primary-text {
  color: var(--main-text-color); }

.second-text {
  color: var(--second-text-color); }

.primary-bg {
  background-color: var(--main-bg-color); }

.secondary-bg {
  background-color: var(--second-bg-color); }

.rounded-full {
  border-radius: 100%; }

#wrapper {
  overflow-x: hidden;
  background-image: linear-gradient(to right, #baf3d7, #c2f5de, #cbf7e4, #d4f8ea, #ddfaef); }

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out; }

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem; }

#sidebar-wrapper .list-group {
  width: 15rem; }

#page-content-wrapper {
  min-width: 100vw; }

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0; }

#menu-toggle {
  cursor: pointer; }

.list-group-item {
  border: none;
  padding: 20px 30px; }

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none; }

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0; }
  #page-content-wrapper {
    min-width: 0;
    width: 100%; }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem; } }

.btn-product {
  border: none !important;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid black !important; }

.btn-category {
  border: none !important;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid black !important; }

.modal-header {
  background: #0d6efd;
  color: #fff;
  height: 30px; }

.modal-body form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0; }

.modal-body form .imgholder {
  width: 100px;
  height: 100px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  top: 70px;
  left: 10%; }

.imgholder .upload {
  position: absolute;
  bottom: 0;
  left: 10;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

.upload i {
  color: #fff;
  font-size: 35px; }

.imgholder:hover .upload {
  display: flex; }

.imgholder .upload input {
  display: none; }

.modal-body form .inputField {
  flex-basis: 68%;
  border-left: 5px solid #86868d;
  padding-left: 20px; }

form .inputField > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; }

form .inputField > div label {
  font-size: 18px;
  font-weight: 500; }

#userForm form .inputField > div label::after {
  content: "*";
  color: red; }

form .inputField > div input {
  width: 75%;
  padding: 10px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid blue; }

.modal-footer .submit {
  font-size: 18px; }
